<input class="ant-input" id="searchInput" [(ngModel)]="userSearch" (ngModelChange)="ifInput()"
       placeholder="搜索用户名字的 全部 或者 部分 来搜索用户">
<button nzType="primary" id="searchInputButton" [disabled]="canPost" nz-button (click)="postSearch()">搜索</button>
<nz-table #fixedTable [nzData]="listOfData" [nzScroll]="{ x: '1150px', y: '450px' }">
  <thead>
  <tr>
    <th nzLeft>用户ID</th>
    <th nzLeft>用户名</th>
    <th>邮箱</th>
    <th>生日</th>
    <th>性别</th>
    <th>年级</th>
    <th>兴趣</th>
    <th>自我介绍</th>
    <th>身份</th>
    <th nzRight>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of fixedTable.data">
    <td nzLeft>{{ data.userId }}</td>
    <td nzLeft>{{ data.userName }}</td>
    <td>{{ data.email }}</td>
    <td>{{ data.birthday }}</td>
    <td>{{ data.gender }}</td>
    <td>{{ data.grade }}</td>
    <td>{{ data.interest }}</td>
    <td>{{ data.introduction }}</td>
    <td>{{ data.accessCode }}</td>
    <td nzRight>
      <button *ngIf="data.deleteFlag == '0'" nzType="primary" nzDanger nz-button nz-popconfirm
              nzPopconfirmTitle="你确定要设置这个用户为管理员吗?"
              (nzOnConfirm)="setAsAdmin(data.userId)"
              nzPopconfirmPlacement="bottom">设为管理
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
