<input class="ant-input" id="searchInput" [(ngModel)]="noteSearch" (ngModelChange)="ifInput()"
       placeholder="可以通过 标题 或者 #Tag 进行搜索">
<button nzType="primary" id="searchInputButton" [disabled]="canPost" nz-button (click)="postSearch()">搜索</button>
<div id="noteDisplay">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <div>
    <div nz-row [nzGutter]="8">
      <div *ngFor="let note of noteList" nz-col [nzSpan]="8">
        <!--        [nzActions]="[star, heart]-->
        <nz-card [routerLink]="['/mainpage/notedetail',1,note.noteId]" nzHoverable
                 [nzCover]="coverTemplate" id="cards">
          <nz-card-meta
            [nzTitle]="note.noteTitle + '             #'+note.noteTag"
            [nzDescription]="note.noteSimpleContent"
          ></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" height="225.4px" [src]="note.noteCover"/>
        </ng-template>
        <!--        <ng-template #star>-->
        <!--          <span nz-icon nzType="star"></span>-->
        <!--        </ng-template>-->
        <!--        <ng-template #heart>-->
        <!--          <span nz-icon nzType="heart"></span>-->
        <!--        </ng-template>-->
      </div>
    </div>
  </div>
</div>
