<input class="ant-input" id="searchInput" [(ngModel)]="noteSearch" (ngModelChange)="ifInput()"
       placeholder="可以通过 标题 或者 #Tag 进行搜索">
<button nzType="primary" id="searchInputButton" [disabled]="canPost" nz-button (click)="postSearch()">搜索</button>
<div id="noteDisplay">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <div [nzGutter]="8" nz-row>
    <div *ngFor="let note of noteList" [nzSpan]="8" nz-col>
      <!--        [nzActions]="[star, heart]-->
      <nz-card [nzCover]="coverTemplate" [routerLink]="['/mainpage/notedetail',2,note.noteId]" id="cards" nzHoverable>
        <nz-card-meta
          [nzDescription]="note.noteSimpleContent"
          [nzTitle]="note.noteTitle + '             #'+note.noteTag"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img [src]="note.noteCover" alt="example" height="225.4px" width="300.3px"/>
      </ng-template>
      <!--        <ng-template #star>-->
      <!--          <span nz-icon nzType="star"></span>-->
      <!--        </ng-template>-->
      <!--        <ng-template #heart>-->
      <!--          <span nz-icon nzType="heart"></span>-->
      <!--        </ng-template>-->
    </div>
  </div>
</div>
